{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="publication-item {{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="" class="card-img-top">
      </div>
    {% endif %}

    <div class="publication-content">
      <div class="publication-header">
        <h3 class="archive__item-title publication-title" itemprop="headline">
          {% if post.link %}
            <a href="{{ post.link }}">{{ title }}</a>
          {% else %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
          {% endif %}
        </h3>
      </div>

      {% if post.authors %}
        <div class="publication-authors">
          <strong>{{ post.authors }}</strong>
        </div>
      {% endif %}
      
      <div class="publication-meta">
        {% if post.collection == 'teaching' %}
          <span class="meta-item">
            <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
            {{ post.venue }}, {{ post.date | default: "1900-01-01" | date: "%Y" }}
          </span>
        {% elsif post.collection == 'publications' %}
          <span class="meta-item">
            <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
            {{ post.venue }}, {{ post.date | default: "1900-01-01" | date: "%Y" }}
          </span>
        {% elsif post.date %}
          <span class="meta-item">
            <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
            <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time>
          </span>
        {% endif %}
      </div>

      {% if post.excerpt and site.read_more != 'enabled' %}
        <div class="publication-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</div>
      {% elsif post.excerpt and site.read_more == 'enabled' %}
        <div class="publication-excerpt" itemprop="description">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></div>
      {% endif %}
      
      <div class="publication-actions">
        {% if post.citation and post.paperurl %}
          <a href="{{ post.paperurl }}" class="action-link download-link">
            <i class="fa fa-download" aria-hidden="true"></i>
            PDF
          </a>
        {% elsif post.paperurl %}
          <a href="{{ post.paperurl }}" class="action-link download-link">
            <i class="fa fa-download" aria-hidden="true"></i>
            PDF
          </a>
        {% endif %}
        
        {% if post.citation %}
          <button class="action-link citation-link" onclick="copyCitation('{{ post.citation | escape }}')">
            <i class="fa fa-copy" aria-hidden="true"></i>
            Citation
          </button>
        {% endif %}
      </div>
    </div>
  </article>
</div>
